*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lily {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    width: 110%;
    height: 110%;
}

.navigation{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.hprog {
    font-family: "Pinyon Script", cursive;
    font-weight: 500;
    font-style: normal;
    color: #b03545;
    font-size: 13vw;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    top: 30%;
    left: -4%;
}

.hpal {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #b03545;
    font-size: 11vw;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    top: 80%;
    right: 0%;
}
.navbar{
    position: relative;
    z-index: 3;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 5%;
}

.buttons{
    display: flex;
    list-style: none;
    gap: 30px;
}

.buttons a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    border: none;
    padding: 10px 30px;
    border-radius: 900px;
    font-family: "Bricolage Grotesque", sans-serif;
}

.originbut {
    background-color: #b03545;
}

.palettebut {
    background-color: #ca8294;
}

.museumbut {
    background-color: #aca238;
}

.originpage {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    align-items: left;
    position: relative;
    overflow: hidden;
}

.whoami {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 180px;
    font-weight: 300;
    color: #b03545;
    display: flex;
    margin: 0;
    opacity: 0.9;
    z-index: 10;
}

.w {
    font-family: "MonteCarlo", cursive;
    font-size: 300px;
    line-height: 1;
}

.mypicture {
    width: 36vw;
    height: 100vh;
    object-fit: cover;
}

.autobio {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 860px;
    font-family: "Bricolage Grotesque", sans-serif;
}

.hi {
    font-size: 50px;
    color: #aca238;
    margin-top: 50px;
    padding-bottom: 90px;
}

.ab p {
    text-align: left;
    color: #973d54;
    font-size: 40px;
    padding-left: 30px;
    padding-bottom: 83px;
    max-width: 750px;
    font-weight: 400;
    z-index: 10;

}

.name {
    color: #aca238;
    font-weight: 700;
}

.flower {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 90%;
    z-index: 1;
    opacity: 0.2;
}

.palettepage{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, #ca8294 0%, #ffedf1 50%, #ffffff 100%);
}

.palettepage h1{
    text-align: center;
    font-size: 100px;
    padding-top: 80px;
    font-family: "MonteCarlo", cursive;
    color: #aca238;
    font-weight: 600;
}