*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    overflow-x: hidden;
}

.navigation,
.originpage,
.palettepage{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.lily{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.hprog{
    font-family: "Pinyon Script", cursive;
    font-weight: 500;
    color: #b03545;
    font-size: clamp(83px, 16vw, 183px);
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    top: 25%;
    left: -2%;
}

.hpal{
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 200;
    color: #b03545;
    font-size: clamp(70px, 11vw, 160px);
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    top: 65%;
    right: 0;
}

.navbar{
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    padding: 60px 5%;
    background-color: transparent;
}

.buttons{
    display: flex;
    list-style: none;
    gap: 30px;
}

.buttons a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    padding: 13px 33px;
    border-radius: 999px;
    font-family: "Bricolage Grotesque", sans-serif;
}

.originbut{ background-color: #b03545; }
.palettebut{ background-color: #ca8294; }
.museumbut{ background-color: #aca238; }

.originpage{
    display: flex;
    flex-direction: row;
}

.whoami{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 130px;
    font-weight: 300;
    color: #b03545;
    opacity: 0.9;
    z-index: 10;
}

.w{
    font-family: "MonteCarlo", cursive;
    font-size: 150px;
    line-height: 1;
}

.mypicture{
    width: 36vw;
    height: 100%;
    object-fit: cover;
}

.autobio{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 860px;
    font-family: "Bricolage Grotesque", sans-serif;
}

.hi{
    font-size: 40px;
    color: #aca238;
    margin-top: 50px;
    padding-bottom: 90px;
}

.ab p{
    text-align: left;
    color: #973d54;
    font-size: 40px;
    padding-left: 30px;
    padding-bottom: 83px;
    max-width: 750px;
    font-weight: 400;
    z-index: 10;
}

.name{
    color: #aca238;
    font-weight: 700;
}

.flower{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.2;
}

.palettepage{
    background: radial-gradient(circle at center, #ca8294 0%, #fedce3 50%, #ffebeb 100%);
}

.palettepage h1{
    text-align: center;
    font-size: clamp(48px, 10vw, 100px);
    padding-top: 80px;
    font-family: "MonteCarlo", cursive;
    color: #9e5363;
    font-weight: 600;
}

.palettepage h4{
    text-align: center;
    font-family: "Bricolage Grotesque", sans-serif;
    color: rgb(134, 71, 71);
    padding-top: 30px;
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
}

.palimg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 50px;
}

.palimg img {
    max-width: 200px;
    height: auto; 
    object-fit: contain;
}



.mymuseum{
    background: #ffebeb 100%;
}

.mymuseum h1{
    text-align: center;
    font-size: clamp(48px, 10vw, 100px);
    padding-top: 80px;
    padding-bottom: 50px;
    font-family: "MonteCarlo", cursive;
    color: #9e5363;
    font-weight: 600;
}

.mymuseum h4{
    text-align: center;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 50px;
    font-family: "Bricolage Grotesque", sans-serif;
    color: #9e5363;
    font-weight: 300;
}


.museumimg {
    display: block;
    text-align: center;
}

.museumimg img {
    max-width: 90%;  
    height: auto;  
    object-fit: cover;
    margin: 20px auto;
    display: block; 
}


.museumimg h2 {
    font-size: 24px;
    padding-top: 15px;
    font-family: "Bricolage Grotesque", sans-serif;
    color: #973d54;
}

.museumimg p {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 50px;
    font-family: "Bricolage Grotesque", sans-serif;
    color: #973d54;
}
