*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lily {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    width: 110%;
    height: 110%;
}

.hprog {
    font-family: "Pinyon Script", cursive;
    font-weight: 500;
    font-style: normal;
    color: #b03545;
    font-size: 13vw;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    top: 30%;
    left: -4%;
}

.hpal {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #b03545;
    font-size: 11vw;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    top: 80%;
    right: 0%;
}
.navbar{
    position: relative;
    z-index: 3;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 5%;
}

.buttons{
    display: flex;
    list-style: none;
    gap: 30px;
}

.buttons a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    border: none;
    padding: 10px 30px;
    border-radius: 900px;
    font-family: "Bricolage Grotesque", sans-serif;
}

.originbut {
    background-color: #b03545;
}

.palettebut {
    background-color: #ca8294;
}

.museumbut {
    background-color: #aca238;
}